@page
@using MentalHealthDataVisualizer.Models
@model MentalHealthDataVisualizer.Models.IndexModel
@{
    ViewData["Title"] = "Any Mental Illness in Past Year Prevalence Data";
}

<h1>@ViewData["Title"]</h1>


<h4>Among People Aged 18 or Older; by Sex and Detailed Age Category, Numbers in Thousands, 2023 and 2024</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.YearSort" class="table_header_sortable">
                    Year
                    @if (Model.CurrentSort == "Year")
                    {
                        <i class="bi bi-caret-up-fill"></i>
                    }
                    else if (Model.CurrentSort == "Year_desc")
                    {
                        <i class="bi bi-caret-down-fill"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AgeCategorySort" class="table_header_sortable">
                    Age Category
                    @if (Model.CurrentSort == "Age")
                    {
                        <i class="bi bi-caret-up-fill"></i>
                    }
                    else if (Model.CurrentSort == "Age_desc")
                    {
                        <i class="bi bi-caret-down-fill"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DemographicSort" class="table_header_sortable">
                    Demographic
                    @if (Model.CurrentSort == "Demo")
                    {
                        <i class="bi bi-caret-up-fill"></i>
                    }
                    else if (Model.CurrentSort == "Demo_desc")
                    {
                        <i class="bi bi-caret-down-fill"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TallySort" class="table_header_sortable">
                    Tally
                    @if (Model.CurrentSort == "Tally")
                    {
                        <i class="bi bi-caret-up-fill"></i>
                    }
                    else if (Model.CurrentSort == "Tally_desc")
                    {
                        <i class="bi bi-caret-down-fill"></i>
                    }
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AmiPrevalenceData != null)
        {
            @foreach (var item in Model.AmiPrevalenceData)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.data_year)</td>
                    <td>@Html.DisplayFor(modelItem => item.age_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.demographic)</td>
                    <td>@Html.DisplayFor(modelItem => item.tally)</td>
                </tr>
            }
        }
    </tbody>
</table>