@page
@using MentalHealthDataVisualizer.Models
@model MentalHealthDataVisualizer.Pages.IndexModel
@{
    ViewData["Title"] = "AMI Prevalence Data";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AmiPrevalenceData.First().data_year)</th>
            <th>@Html.DisplayNameFor(model => model.AmiPrevalenceData.First().age_category)</th>
            <th>@Html.DisplayNameFor(model => model.AmiPrevalenceData.First().demographic)</th>
            <th>@Html.DisplayNameFor(model => model.AmiPrevalenceData.First().tally)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AmiPrevalenceData != null)
        {
            @foreach (var item in Model.AmiPrevalenceData)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.data_year)</td>
                    <td>@Html.DisplayFor(modelItem => item.age_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.demographic)</td>
                    <td>@Html.DisplayFor(modelItem => item.tally)</td>
                </tr>
            }
        }
    </tbody>
</table>