@page
@using MentalHealthDataVisualizer.Models
@model MentalHealthDataVisualizer.Models.IndexModel
@{
    ViewData["Title"] = "Any Mental Illness in Past Year Prevalence Data";
}

<h1>@ViewData["Title"]</h1>


<h4>Among People Aged 18 or Older; by Sex and Detailed Age Category, Numbers in Thousands, 2023 and 2024</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Age Category</th>
            <th>Demographic</th>
            <th>Tally</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AmiPrevalenceData != null)
        {
            @foreach (var item in Model.AmiPrevalenceData)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.data_year)</td>
                    <td>@Html.DisplayFor(modelItem => item.age_category)</td>
                    <td>@Html.DisplayFor(modelItem => item.demographic)</td>
                    <td>@Html.DisplayFor(modelItem => item.tally)</td>
                </tr>
            }
        }
    </tbody>
</table>